.flag {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 200px;
  height: 200px;
  background-color: red;
}

.flag .cross {
  background-color: white;
}

.flag .horizontal {
  grid-column: 2 / 8;
  grid-row: 4/6;
}

.flag .vertical {
  grid-row: 2/ 8;
  grid-column: 4/ 6;
}

body {
  display: grid;
  place-items: center;
}